.feature-item {
    position: relative;
    
    @mixin atSmall {
        padding-left: 94px;
    }
    padding-bottom: 2.5rem;

    &__icon {
        display: block;
        margin: 0 auto; /* center horizontally */

        @mixin atSmall {
            position: absolute;
            left: 0;
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300px;
        margin-bottom: .8rem;
        margin-top: .7em;
        text-align: center;

        @mixin atSmall {
            font-size: 1.875rem;
            margin-top: 1em;
            text-align: left;
        }
    }
}